<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
 <h3> book id: </h3> <%= data.id %>
  
    <h3>book name:</h3> <%= data.name %>
   

   <h3>Author name:</h3>  <%= data.author %>
  <br>
   <h3>book description:</h3>  <%= data.description %>
    <br>
    <h3>No pages:</h3> <%= data.pages %>
   <br>

    <h3>publication:</h3> <%= data.publication %>
   <br>
 <h3> Year: </h3> <%= data.year %>
  <br>
    <h3>prize: </h3> <%= data.prize %>
    

</body>
</html> -->